<%- include('partials/head', { pageTitle: 'ChimpType - Change Password' }) %>
<%- include('partials/header') %>

<%- include('partials/notificationBanner') %>

<main>
    <section class="auth-container">
        <h2>Change Your Password for ChimpType</h2>
        <form action="/changepassword" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
            <button type="submit" class="auth-button">Change Password</button>
        </form>
    </section>
</main>

<%- include('partials/footer') %>